<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title : "Proyecto Middlewares" }) %>

	<body>
		<%- include('./partials/header') %>

			<main>
				<section class="heading">
					<h1><%= texto %> </h1>
					<img src="/images/node.jpg" width="60%">
				</section>
			</main>
	</body>

</html>